<nav role="navigation" class="side-nav d-flex flex-md-column align-items-center align-items-md-end justify-content-between">
  <a href="/" class="logo flex-last flex-md-first text-right">ale<span class="hidden-sm-down"><br>chevey</span></a>

  {{ $currentPage := . }}
  <ul class="nav flex-md-column text-right">
    <li class="nav-item">
      <a class="nav-link d-inline pl-0 py-0 px-md-0 marker-highlight marker-blue {{ if eq $currentPage.URL "/" }}active{{ end }}" href="/">work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-inline py-0 px-md-0 marker-highlight marker-pink {{ if eq $currentPage.URL "/about/" }}active{{ end }}" href="/about/">about</a>
    </li>
    <li class="nav-item hidden-sm-down">
      <a class="nav-link d-inline py-0 px-md-0 no-barba marker-highlight marker-green" href="mailto:">contact</a>
    </li>
  </ul>

  <ul class="nav flex-row justify-content-between w-100 hidden-sm-down">
    <li class="">
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
