<nav role="navigation" class="side-nav d-flex flex-md-column align-items-center align-items-md-end justify-content-between">
  <a href="/" class="logo flex-last flex-md-first text-right">ale<br>chevey</a>

  <ul class="nav flex-md-column text-right">
    <li class="nav-item">
      <a class="nav-link pl-0 py-0 px-md-0 active" href="/">work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-0 px-md-0" href="/about">about</a>
    </li>
    <li class="nav-item hidden-sm-down">
      <a class="nav-link py-0 px-md-0 no-barba" href="mailto:">contact</a>
    </li>
  </ul>

  <ul class="nav flex-row justify-content-between w-100 hidden-sm-down">
    <li class="">
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
    </li>
    <li>
      <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
