<nav role="navigation" class="side-nav d-flex flex-md-column align-items-center align-items-md-end justify-content-between">
  <a href="/" class="logo flex-last flex-md-first text-right">ale<span class="hidden-sm-down"><br>chevey</span></a>

  {{ $currentPage := . }}
  <ul class="nav flex-md-column text-right">
    <li class="nav-item mr-3 mr-md-0">
      <a class=" d-inline pl-0 py-0 px-md-0 {{ if eq $currentPage.URL "/" }}active{{ end }}" href="/">work</a>
    </li>
    <li class="nav-item">
      <a class=" d-inline py-0 px-md-0 {{ if eq $currentPage.URL "/about/" }}active{{ end }}" href="/about/">about</a>
    </li>
  </ul>

  <ul class="nav flex-column align-items-end justify-content-between w-100 hidden-sm-down">
    <li class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="{{ "/images/Resume-Alejandra-Chevey.pdf" }}">resume</a>
    </li>
    <li class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="mailto:a.chevey@gmail.com">mail</a>
    </li>
    <li class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="https://twitter.com/alechevey">twitter</a>
    </li>
    <li  class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="https://dribbble.com/alechevey">dribbble</a>
    </li>
    <li  class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="https://github.com/alesimancas">github</a>
    </li>
    <li  class="d-inline-flex mt-0">
      <a target="_blank" class="display-4 no-barba" href="https://www.linkedin.com/in/alejandrachevey/en">linkedin</a>
    </li>
  </ul>
</nav>
