<a class="d-block text-right px-md-0 hidden-md-up no-barba" href="mailto:">contact</a>

<ul class="nav flex-row justify-content-end w-100 hidden-md-up">
  <li class="">
    <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li class="">
    <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
  </li>
  <li class="">
    <a target="_blank" class="display-4 no-barba" href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
  </li>
  <li class="">
    <a target="_blank" class="display-4 no-barba pr-0" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </li>
</ul>
