<div role="main">
  <p>
  Aliquam non ex <a href="#" class="image-on-hover" data-image-appear="alejandra">congue</a>, pharetra lacus sit amet, molestie felis. Cras urna lectus, sollicitudin nec nibh eu, viverra rhoncus.
  </p>
 <img id="alejandra" src="http://via.placeholder.com/520x660" class="image-on-hover" aria-hidden="true">
</div>
