{{ define "main" }}
<div role="main">
  <h1 class="display-1 title-offset">404</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit dis nibh lacinia scelerisque, dictum posuere turpis neque conubia vitae duis vivamus ac. Molestie dolor himenaeos urna posuere ad nibh nam accumsan, aliquam diam donec id et litora rhoncus, sodales libero tincidunt tortor eleifend ut volutpat. Dictum neque euismod quam nec laoreet netus sociosqu eros proin, dapibus senectus tempus nibh suscipit commodo natoque inceptos felis nisl, ac ut integer fringilla varius cubilia habitant nostra. Et curae auctor leo risus fusce felis in ligula sociosqu, vestibulum conubia id aliquet nisl eget sem faucibus, odio nibh aenean non rutrum lorem mattis imperdiet. Eget erat netus dis posuere dictumst nisl volutpat, integer mattis nascetur ligula fringilla conubia nec sagittis, quis quam potenti vivamus molestie auctor. Vel lacus libero fusce lobortis felis netus, volutpat fringilla curabitur aptent et, facilisi venenatis vivamus consectetur condimentum.
  </p>
</div>
{{ end }}
