{{ define "main" }}

<div class="tray-overlay transition-tray-overlay bg-white"></div>
<div class="hero-image transition-hero-image" style="">
  <img class="hero-image-img visually-hidden" src="" alt="" width="1596" height="1000">
</div>

  <div role="main" class="">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link" data-hero-alt="Anagram Hero" data-hero-image="http://via.placeholder.com/1596x1000">
            <span class="sr-only">Show more</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">lorem ipsium - 2</h4>
          <a href="/projects/project-2" class="card-link" data-hero-alt="Project N°2" data-hero-image="http://via.placeholder.com/1596x1000">
            <span class="sr-only">Show more</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">lorem ipsium - 3</h4>
          <a href="/projects/project-3" class="card-link" data-hero-alt="Project N°3" data-hero-image="http://via.placeholder.com/1596x1000">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">lorem ipsium - 4</h4>
          <a href="/projects/project-4" class="card-link" data-hero-alt="Project N°4" data-hero-image="http://via.placeholder.com/1596x1000">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">lorem ipsium - 5</h4>
          <a href="/projects/project-5" class="card-link" data-hero-alt="Project N°5" data-hero-image="http://via.placeholder.com/1596x1000">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">lorem ipsium - 6</h4>
          <a href="/projects/project-6" class="card-link" data-hero-alt="Project N°6" data-hero-image="http://via.placeholder.com/1596x1000">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
    </div>

  </div>
{{ end }}
