{{ define "main" }}
  <div role="main" class="mt-2 mt-md-0">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
            <span class="sr-only">Show more</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
            <span class="sr-only">Show more</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="http://via.placeholder.com/400x250" alt="Card image cap">
          <h4 class="card-title">anagram hero</h4>
          <a href="/projects/anagram-hero" class="card-link">
        <span class="sr-only">Show more</span>
      </a>
        </div>
      </div>
    </div>

  </div>
{{ end }}
