{{ define "main" }}

  <div class="tray-overlay transition-tray-overlay bg-white"></div>
  <div class="hero-image transition-hero-image" style="">
    <img class="hero-image-img visually-hidden" src="" alt="" width="1596" height="1000">
  </div>

  <div role="main" class="overflow-hidden">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-novihome.jpg" }}" alt="novihome">
          <h4 class="card-title">novihome</h4>
          <a href="/projects/novihome" class="card-link" data-hero-alt="novihome" data-hero-image="{{ "/images/bg-novihome.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-technis.jpg" }}" alt="technis">
          <h4 class="card-title">technis</h4>
          <a href="/projects/technis" class="card-link" data-hero-alt="technis" data-hero-image="{{ "/images/bg-technis.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-sprint.jpg" }}" alt="sprint">
          <h4 class="card-title">sprint</h4>
          <a href="/projects/sprint" class="card-link" data-hero-alt="sprint" data-hero-image="{{ "/images/bg-sprint.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-o2score.jpg" }}" alt="o2 score">
          <h4 class="card-title">o2 score</h4>
          <a href="/projects/o2score" class="card-link" data-hero-alt="o2 score" data-hero-image="{{ "/images/bg-o2score.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-others.jpg" }}" alt="others">
          <h4 class="card-title">others</h4>
          <a href="/projects/others" class="card-link" data-hero-alt="others" data-hero-image="{{ "/images/bg-others.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-12 col-lg-6">
        <div class="card page-section-animation card-clickable card-borderless">
          <img class="card-img-top" src="{{ "/images/thumbnail-print.jpg" }}" alt="print">
          <h4 class="card-title">print</h4>
          <a href="/projects/print" class="card-link" data-hero-alt="print" data-hero-image="{{ "/images/bg-print.jpg" }}">
            <span class="sr-only">show more</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
