{{ define "main" }}
<div role="main">
  <h1 class="display-1">Hi there !</h1>
  <p>
  my name is <a href="#" class="underline-on-hover image-on-hover" data-image-appear="alejandra">alejandra</a> am a is a swiss venezuelan designer based in Lausanne. We are a creative lab that escapes routine, dedicating more time to experimenting and investigating each project.
  </p>
  <p class="display-4 mb-0">things I love</p>
  <ul class="list-unstyled">
    <li>
      <a href="#" class="image-on-hover" data-image-appear="create">create</a>
    </li>
    <li>
      <a href="#" class="image-on-hover" data-image-appear="alejandra">lab</a>
    </li>
    <li>
      <a href="#" class="image-on-hover" data-image-appear="alejandra">escape</a>
    </li>
    <li>
      <a href="#" class="image-on-hover" data-image-appear="alejandra">routine</a>
    </li>
    <li>
      <a href="#" class="image-on-hover" data-image-appear="alejandra">dedicating</a>
    </li>
  </ul>
  <img id="alejandra" src="http://via.placeholder.com/520x660" aria-hidden="true" class="image-on-hover" style="top: 30px; right: 60px;">
  <img id="create" src="http://via.placeholder.com/520x660" aria-hidden="true" class="image-on-hover" style="top: 30px; left: 60px;">
</div>
{{ end }}
