{{ define "main" }}
<div role="main">
  <h1 class="display-1 title-offset">Hi!</h1>
  <p>
  My name is Alejandra and I am Venezuelan designer, currently living in Switzerland. Every day I passionately create design with the conviction that a perfect harmony between aesthetics and functionality enhances human experiences.
  </p>
  <p class="">
  I convert ideas into products to share interpretations of the world. <br>
  Research and reflection phases are always present in my work. They come armed with choices of typography, colors, spaces, forms, volume and content. Through design, I can play with my ideas, invent, learn and have new insights with each project.
  </p>
</div>
{{ end }}
