{{ define "main" }}
<div role="main">
  Aliquam non ex <a href="#" class="underline-on-hover">congue</a>, pharetra lacus sit amet, molestie felis. Cras urna lectus, sollicitudin nec nibh eu, viverra rhoncus ex. Vestibulum dictum tellus venenatis odio luctus ornare. Morbi erat est, pretium convallis varius et, porta quis lacus. Vestibulum iaculis dui et ex hendrerit imperdiet. Phasellus eros quam, auctor vitae aliquet ac, interdum a quam. Morbi ac hendrerit lectus, at aliquet diam. Proin ullamcorper sem sed diam varius viverra. Sed eu est sit amet odio scelerisque luctus. Vivamus congue arcu mauris, sit amet ullamcorper turpis commodo ut. Aenean in urna purus. In convallis dolor eu feugiat aliquet. Maecenas dignissim nisi sed dolor convallis volutpat.
</div>
{{ end }}
