<div class="hero-image" style="background-image: url(http://via.placeholder.com/1596x1000);">
  <img class="hero-image-img visually-hidden" src="http://via.placeholder.com/1596x1000"
    alt="Xme Company" width="1596" height="1000">
</div>

