@charset 'utf-8';

.hero-image {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$grid-gutter-width-base});
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 1;
  font-size: 86px;
}

.hero-image.transition-hero-image {
  position: absolute;
  width: calc(100% + #{$grid-gutter-width-base/2});
  height: calc(100vh - #{$grid-gutter-width-base});
  opacity: 1;
  z-index: -1;
  transform-origin: 0 0;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;

  &.open-to-left {
    transform: translateX(0);
    z-index: 1;
  }

  &.close-to-right {
    transform: translateX(100%);
  }
}
