<div class="image-discover">
  <div class="image-discover-content">
    <div class="hidden-md-down" aria-hidden="true">→</div>
    <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <img class="image-discover-img" src="http://via.placeholder.com/700x500" aria-hidden="true">
</div>
