@charset "UTF-8";

.visually-hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.page-is-loading {
  cursor: wait !important;

  .barba-container {
    pointer-events: none;
  }
}

@include bg-variant('.bg-white', $white);
@include bg-variant('.bg-black', $black);
