@charset "UTF-8";

body > .container-fluid { margin: $grid-gutter-width-base ($grid-gutter-width-base/2); }

.barba-container {
  position: relative;
}

.is-home .main-container {
  overflow-x: hidden;
}
