@charset 'utf-8';

.card-borderless {
  border: none;
}

.card-img-top {
  max-height: 500px;
  object-fit: cover;
}

.card-clickable {
  position: relative;

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
