<div class="card card-clickable card-borderless">
  <img class="card-img-top" src="https://unsplash.it/400/250/?gravity=east" alt="Card image cap">
  <h4 class="card-title">Anagram Hero</h4>
  <a title="Show more" href="#" class="card-link">
    <span class="sr-only">Show more</span>
  </a>
</div>
