<div class="card card-clickable card-borderless">
  <div class="card-img-top">
    <img class="anim-bottom-right" src="https://unsplash.it/2000/1000/?gravity=east" alt="bikeclub">
  </div>
  <h4 class="card-title">bikeclub</h4>
  <a href="/projects/bikeclub" class="card-link" data-hero-alt="bikeclub" data-hero-image="https://unsplash.it/3192/2000/?gravity=east">
    <span class="sr-only">show more</span>
  </a>
</div>
