{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-soft-blue.png" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-soft-blue.png" }}" alt="Anagram Hero" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">Anagram Hero</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">Scroll to discover</span>
    </p>
  </div>
  single content
</div>
{{ end }}
