{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-bikeclub.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-bikeclub.jpg" }}" alt="bikeclub" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">bikeclub</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>The bike fellowship’s main goal is to encourage friendly competition between the members of amateur’s bike training team.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-1.jpg" }}" alt="image N°1">

  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">some of the user interface elements</p>
    </div>
    <img class="image-discover-img" src="{{ "/images/bikeclub/bikeclub-3.jpg" }}" alt="image N°3">
  </div>

  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-6.jpg" }}" alt="image N°6">
  
  <p>Research, analysis and visual inspiration<br>We create a concept for the class. We separate it into three teams, each one adapted to different people fitness levels. Content decisions where also made at this stage. Similar data were grouped into categories and the class timeline became the core.
</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-4.jpg" }}" alt="image N°4">
  <p>video games inspired me for this project. The first leaderboard I can remember is Mario Kart's. I wanted the outcome to be fun. Wachowskis's film Speed Racer inspired me for the colors. The dark background was chosen considering the class indoor environment.<p>.

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-5.jpg" }}" alt="image N°5">
  
  <p>The outcome</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-2.jpg" }}" alt="image N°2">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-7.jpg" }}" alt="image N°7">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/technis" class="next">Next →</a>
  </div>
</div>
{{ end }}
