{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-bikeclub.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-bikeclub.jpg" }}" alt="bikeclub" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">bikeclub</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>The bike fellowship’s goal is to encourage friendly competition among members of a bike training team.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-1.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-2.jpg" }}" alt="image N°2">

  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Three teams, each one adapted to different people fitness levels.</p>
    </div>
    <img class="image-discover-img" src="{{ "/images/bikeclub/bikeclub-3.jpg" }}" alt="image N°3">
  </div>

  <img class="img-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-6.jpg" }}" alt="image N°6">

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-4.jpg" }}" alt="image N°4">
  <p>Visual inspiration</p>

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-5.jpg" }}" alt="image N°5">
  
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/bikeclub/bikeclub-7.jpg" }}" alt="image N°7">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/technis" class="next">Next →</a>
  </div>
</div>
{{ end }}
