{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-corporate.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-corporate.jpg" }}" alt="corporate" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">corporate</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-01.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-02.jpg" }}" alt="image N°2">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-03.jpg" }}" alt="image N°3">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-04.gif" }}" alt="image N°4">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-05.jpg" }}" alt="image N°5">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-06.jpg" }}" alt="image N°6">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-07.jpg" }}" alt="image N°7">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-08.jpg" }}" alt="image N°8">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-09.gif" }}" alt="image N°9">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/corporate/corporate-10.jpg" }}" alt="image N°10">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/eye" class="next">Next →</a>
  </div>
</div>
{{ end }}
