{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-corporate.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-corporate.jpg" }}" alt="corporate" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">corporate</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>
    Website relaunch for the biggest reinsurance company in the world. As a part of the team, I worked on the design system and on the visual design. <br><br>
    Agency: Hinderling Volkart <br>
    Year: 2018
  </p>

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/eye" class="next">Next →</a>
  </div>
</div>
{{ end }}
