{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-eye.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-eye.jpg" }}" alt="pr" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">eye</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-01.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-02.jpg" }}" alt="image N°2">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-03.jpg" }}" alt="image N°3">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-04.jpg" }}" alt="image N°4">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-05.jpg" }}" alt="image N°5">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-06.jpg" }}" alt="image N°6">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/eye/eye-07.jpg" }}" alt="image N°7">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/corporate" class="prev">← Previous</a>
    <a href="/projects/technis" class="next">Next →</a>
  </div>
</div>
{{ end }}
