{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-mobi.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-mobi.jpg" }}" alt="mobi" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">mobi</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>Design sprint outcome: prototype for a risk profile calculator</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/mobi/mobi-1-big.jpg" }}" alt="image N°1">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-2.jpg" }}" alt="image N°2">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-3.jpg" }}" alt="image N°3">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-4.jpg" }}" alt="image N°4">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-5.jpg" }}" alt="image N°5">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-6.jpg" }}" alt="image N°6">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-7.jpg" }}" alt="image N°7">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/mobi/mobi-8-big.jpg" }}" alt="image N°8">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/mobi/mobi-9.jpg" }}" alt="image N°9">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/o2score" class="prev">← Previous</a>
    <a href="/projects/others" class="next">Next →</a>
  </div>
</div>
{{ end }}
