{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-o2coach.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-o2coach.jpg" }}" alt="o2coach" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">o2coach</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>O2 coach is a training monitoring application for high-level athletes. It allows to messure the rate of recovery from a capillary blood drop.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/o2coach/o2coach-1.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/o2coach/o2coach-2.jpg" }}" alt="image N°2">

  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">It enables you to better manage your training to improve its benefit.</p>
    </div>
    <img class="image-discover-img" src="{{ "/images/o2coach/o2coach-3.jpg" }}" alt="image N°3">
  </div>

  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/o2coach/o2coach-4.jpg" }}" alt="image N°4">
  <p class="mb-0">The app is connected to a nomad device for measuring the rate of recovery after training from a blood drop.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/o2coach/o2coach-6.jpg" }}" alt="image N°6">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/sprint" class="prev">← Previous</a>
  </div>
</div>
{{ end }}
