{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-o2score.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-o2score.jpg" }}" alt="o2score" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">o2score</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>UX & visual design for O2 score, a training monitoring application for high-level athletes: the app is connected to a nomad device for measuring the rate of recovery after training from a blood drop</p>
  <img class="image-overflow page-section-animation mb-3" src="{{ "/images/o2score/o2score-1.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation mb-3" src="{{ "/images/o2score/o2score-2.jpg" }}" alt="image N°2">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/o2score/o2score-3.jpg" }}" alt="image N°3">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/o2score/o2score-4.jpg" }}" alt="image N°4">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/o2score/o2score-5.jpg" }}" alt="image N°5">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/o2score/o2score-6.jpg" }}" alt="image N°6">
  <img class="image-overflow page-section-animation mb-3" src="{{ "/images/o2score/o2score-7.jpg" }}" alt="image N°7">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/sprint" class="prev">← Previous</a>
    <a href="/projects/mobi" class="next">Next →</a>
  </div>
</div>
{{ end }}
