{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-others.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-others.jpg" }}" alt="others" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">others</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>A sneak peek of some other projects 😀:</p>
  <p>Snake game made during the <a href="https://www.epicgamejam.com" target="_blank">Epic Game Jam 2017</a></p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-1.jpg" }}" alt="image N°1">

  <p>Small word puzzle game</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-2.jpg" }}" alt="image N°2">

  <p>E-commerce website</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-3.jpg" }}" alt="image N°3">

  <p>Waste sorting app, connected to a gesture control armband</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-4.jpg" }}" alt="image N°4">

  <p>Pollenn, a progressive web app to identify Invasive alien plants</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-5.jpg" }}" alt="image N°5">

  <p>Design sprint outcome: prototype for a risk profile calculator</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-6.jpg" }}" alt="image N°6">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-7.jpg" }}" alt="image N°7">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-8.jpg" }}" alt="image N°8">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-9.jpg" }}" alt="image N°9">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-10.jpg" }}" alt="image N°10">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/o2score" class="prev">← Previous</a>
    <a href="/projects/print" class="next">Next →</a>
  </div>
</div>
{{ end }}
