{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-others.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-others.jpg" }}" alt="others" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">others</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>A sneak peek of some other projects 😀:</p>

  <p>E-commerce website</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-1-big.jpg" }}" alt="image N°1">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-2.jpg" }}" alt="image N°2">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-3.jpg" }}" alt="image N°3">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-4.jpg" }}" alt="image N°4">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-5-big.jpg" }}" alt="image N°5">

  <p>Identity design, ux & visual design for a Recruitment Platform, specialized on the construction sector</p>
  <div class="image-discover zindex-popover page-section-animation mb-3">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Reactive, effective, digital / human,  sympathetic - reassuring.</p>
    </div>
    <img class="image-discover-img" src="{{ "/images/others/others-2-small.jpg" }}" alt="image N°2">
  </div>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-8.jpg" }}" alt="image N°3">
  <img class="image-overflow page-section-animation mb-3" src="{{ "/images/others/others-4-big.jpg" }}" alt="image N°4">

  <p>Pollenn, a progressive web app to identify Invasive alien plants</p>
  <img class="image-overflow page-section-animation mb-3" src="{{ "/images/others/others-9-big.jpg" }}" alt="image N°9">

  <p>Waste sorting app, connected to a gesture control armband</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-6.jpg" }}" alt="image N°6">


  <p>Anagram game</p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-10.jpg" }}" alt="image N°11">

  
  <p>Snake game made during the <a href="https://www.epicgamejam.com" target="_blank">Epic Game Jam 2017</a></p>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/others/others-11.jpg" }}" alt="image N°13">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/mobi" class="prev">← Previous</a>
  </div>
</div>
{{ end }}
