{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-sr.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-pr.jpg" }}" alt="pr" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">pr</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/sr" class="prev">← Previous</a>
    <a href="/projects/apps" class="next">Next →</a>
  </div>
</div>
{{ end }}
