{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-print.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-print.jpg" }}" alt="print" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">print</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-1.jpg" }}" alt="image N°1">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-2.jpg" }}" alt="image N°2">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-3.jpg" }}" alt="image N°3">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-4.jpg" }}" alt="image N°4">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-5.jpg" }}" alt="image N°5">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-6.jpg" }}" alt="image N°6">
  <img class="img-fluid page-section-animation mb-3" src="{{ "/images/print/print-7.jpg" }}" alt="image N°7">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/o2score" class="prev">← others</a>
  </div>
</div>
{{ end }}
