{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-sprint.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-sprint.jpg" }}" alt="sprint" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">sprint</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>This exercise's goal was to explore new ways to enhance gaming experiences. This time using face-detection algorithms.</p>


  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Esport dashboard. Better understand of emotions in order to improuve performance.</p>
    </div>
  </div>


  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Heart rate and emotion detection widget. Each emotion will trigger an effect.</p>
    </div>
  </div>


  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/technis" class="prev">← Previous</a>
    <a href="/projects/o2coach" class="next">Next →</a>
  </div>
</div>
{{ end }}
