{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-technis.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-technis.jpg" }}" alt="technis" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">technis</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>Technis an analytics tool that collects data through an intelligent flooring solution.</p>
  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Sleek & Powerful, élégant, intelligent & discret. The underlying magic.</p>
    </div>
  </div>

  <p>Research & analysis. Visual inspiration & branding exploration.</p>

  <p>The outcome.</p>

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/bikeclub" class="prev">← Previous</a>
    <a href="/projects/sprint" class="next">Next →</a>
  </div>
</div>
{{ end }}
