{{ define "main" }}
<div role="main">
  <div class="hero-image mb-2" style="background-image: url({{ "/images/bg-technis.jpg" }});">
    <img class="hero-image-img visually-hidden" src="{{ "/images/bg-technis.jpg" }}" alt="technis" width="1596" height="1000">

    <div class="hero-image-title">
      <span class="hero-image-title-text">technis</span>
    </div>

    <p class="hero-image-scroll display-4">
      <span class="hero-image-scroll-text">scroll to discover</span>
    </p>
  </div>

  <p>Technis an analytics tool that collects data through an intelligent flooring solution.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-1.jpg" }}" alt="image N°1">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-2.jpg" }}" alt="image N°2">
  <div class="image-discover zindex-popover page-section-animation img-mb">
    <div class="image-discover-content">
      <div class="hidden-md-down" aria-hidden="true">→</div>
      <p class="mb-0">Sleek & Powerful, élégant, intelligent & discret. The underlying magic.</p>
    </div>
    <img class="image-discover-img" src="{{ "/images/technis/technis-3.jpg" }}" alt="image N°3">
  </div>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-4.jpg" }}" alt="image N°4">

  <p>Research & analysis. Visual inspiration & branding exploration.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-5.jpg" }}" alt="image N°5">
  <img class="img-fluid page-section-animation img-mb" src="{{ "/images/technis/technis-6.jpg" }}" alt="image N°6">

  <p>The outcome.</p>
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-7.jpg" }}" alt="image N°7">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-8.jpg" }}" alt="image N°8">
  <img class="image-overflow page-section-animation img-mb" src="{{ "/images/technis/technis-9.jpg" }}" alt="image N°9">

  <div class="prev-next-nav d-flex flex-column">
    <a href="/projects/apps" class="prev">← Previous</a>
    <a href="/projects/sprint" class="next">Next →</a>
  </div>
</div>
{{ end }}
